In [29]:
# Program to analyse Customer dataset
#
# Smruthi Javagal Vasudeva
# 
# For demonstration purposes only

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely.geometry import Point

In [30]:
# Ingesting customer dataset from csv format (Source : Smruthi Sales)
cust_df = pd.read_csv('../data/Customer.csv')

In [31]:
cust_df.head()

,S No,Outlet Id,Outlet Name,Outlet Status,Erp Id,User ID,User Name,Outlet Address,Area,Warehouse,...,Business Proof,ID Number,Upload Image of ID Proof,DL Expiry Date,Territory,Event Type,GL Account Code Credit,Territory When Direct,Territory When Super,Registration No
0,1,150345,Seetharam medical stores,Active,NaN,2004,M Pradeep,Opposite KSRTC Bustand NT Road,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,150421,shetty medicals Stores,Active,NaN,2004,M Pradeep,Neela Prastha kasetty Building BH Road shimoga,SMRUTHI SALES,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,150480,Sri Seetharam Medicals,Active,NaN,2004,M Pradeep,Hanumanthappa Arcade Near Vinayaka Talkes BH R...,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,151295,Amrutha Medicals,Active,NaN,2004,M Pradeep,Tank mohalla Shimoga,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,151306,Joshi Medicals,Active,NaN,2004,M Pradeep,Opposite Shimoga Rice mill 9Th cross Bapuji Na...,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
cust_df.replace("NaN",None,inplace=True)

In [15]:
print(cust_df)

     S No  Outlet Id               Outlet Name Outlet Status  Erp Id  User ID  \
0       1     150345  Seetharam medical stores        Active     NaN     2004
1       2     150421    shetty medicals Stores        Active     NaN     2004
2       3     150480    Sri Seetharam Medicals        Active     NaN     2004
3       4     151295          Amrutha Medicals        Active     NaN     2004
4       5     151306            Joshi Medicals        Active     NaN     2004
..    ...        ...                       ...           ...     ...      ...
715   716     484040        Sri yogesh medical        Active     NaN     2983
716   717     490338   sumukha provision store        Active     NaN     2983
717   718     493295             shoba treders        Active     NaN     2004
718   719     496199              SNEHA STORES        Active     NaN     2004
719   720     501172            vinayaka store        Active     NaN     2983

     User Name                                     Outlet Address  \
0    M Pradeep                     Opposite KSRTC Bustand NT Road
1    M Pradeep     Neela Prastha kasetty Building BH Road shimoga
2    M Pradeep  Hanumanthappa Arcade Near Vinayaka Talkes BH R...
3    M Pradeep                               Tank mohalla Shimoga
4    M Pradeep  Opposite Shimoga Rice mill 9Th cross Bapuji Na...
..         ...                                                ...
715   SATISH M                                    near panchamuki
716   SATISH M                                near nethaji circle
717  M Pradeep                      gardan area 2nd cross shimoga
718  M Pradeep                               R M L NAGARA SHIMOGA
719   SATISH M                            near  peeneshwara store

                 Area      Warehouse  ... Business Proof ID Number  \
0    1100730887_ASI 1  SMRUTHI SALES  ...            NaN       NaN
1       SMRUTHI SALES  SMRUTHI SALES  ...            NaN       NaN
2    1100730887_ASI 1  SMRUTHI SALES  ...            NaN       NaN
3    1100730887_ASI 1  SMRUTHI SALES  ...            NaN       NaN
4    1100730887_ASI 1  SMRUTHI SALES  ...            NaN       NaN
..                ...            ...  ...            ...       ...
715     SMRUTHI SALES  SMRUTHI SALES  ...            NaN       NaN
716     SMRUTHI SALES  SMRUTHI SALES  ...            NaN       NaN
717     SMRUTHI SALES  SMRUTHI SALES  ...            NaN       NaN
718     SMRUTHI SALES  SMRUTHI SALES  ...            NaN       NaN
719     SMRUTHI SALES  SMRUTHI SALES  ...            NaN       NaN

     Upload Image of ID Proof  DL Expiry Date  Territory Event Type  \
0                         NaN             NaN        NaN        NaN
1                         NaN             NaN        NaN        NaN
2                         NaN             NaN        NaN        NaN
3                         NaN             NaN        NaN        NaN
4                         NaN             NaN        NaN        NaN
..                        ...             ...        ...        ...
715                       NaN             NaN        NaN        NaN
716                       NaN             NaN        NaN        NaN
717                       NaN             NaN        NaN        NaN
718                       NaN             NaN        NaN        NaN
719                       NaN             NaN        NaN        NaN

    GL Account Code Credit  Territory When Direct  Territory When Super  \
0                      NaN                    NaN                   NaN
1                      NaN                    NaN                   NaN
2                      NaN                    NaN                   NaN
3                      NaN                    NaN                   NaN
4                      NaN                    NaN                   NaN
..                     ...                    ...                   ...
715                    NaN                    NaN                   NaN
716                    NaN                    NaN                   NaN
717                    NaN                    NaN                   NaN
718                    NaN                    NaN                   NaN
719                    NaN                    NaN                   NaN

    Registration No
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
..              ...
715             NaN
716             NaN
717             NaN
718             NaN
719             NaN

[720 rows x 59 columns]

In [16]:
test = cust_df['Business Proof']

In [17]:
print(test)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
715    NaN
716    NaN
717    NaN
718    NaN
719    NaN
Name: Business Proof, Length: 720, dtype: object

In [18]:
test.isnull()

0      True
1      True
2      True
3      True
4      True
       ...
715    True
716    True
717    True
718    True
719    True
Name: Business Proof, Length: 720, dtype: bool

In [19]:
test.dropna()

87     FSSAI License
230    FSSAI License
269    FSSAI License
282    FSSAI License
394    FSSAI License
701              PAN
Name: Business Proof, dtype: object

In [20]:
test.dropna(axis=1)

ValueError: No axis named 1 for object type Series

In [21]:
test.drop()

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [22]:
test.dropna()

87     FSSAI License
230    FSSAI License
269    FSSAI License
282    FSSAI License
394    FSSAI License
701              PAN
Name: Business Proof, dtype: object

In [23]:
test.dropna(ax=1)

TypeError: Series.dropna() got an unexpected keyword argument 'ax'

In [24]:
test.dropna(axis=1)

ValueError: No axis named 1 for object type Series

In [25]:
test = pd.DataFrame(test)

In [27]:
test.dropna(axis=1, how='all')

    Business Proof
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
..             ...
715            NaN
716            NaN
717            NaN
718            NaN
719            NaN

[720 rows x 1 columns]

In [34]:
test.fillna("")

    Business Proof
0
1
2
3
4
..             ...
715
716
717
718
719

[720 rows x 1 columns]

In [40]:
cust_df[cust_df.duplicated(subset = ["Outlet Name"])]

,S No,Outlet Id,Outlet Name,Outlet Status,Erp Id,User ID,User Name,Outlet Address,Area,Warehouse,...,Business Proof,ID Number,Upload Image of ID Proof,DL Expiry Date,Territory,Event Type,GL Account Code Credit,Territory When Direct,Territory When Super,Registration No
154,155,186284,SRI MANJUNATHA PROVISION STORES,Active,NaN,2004,M Pradeep,Gandhi Nagar main Road shimoga,SMRUTHI SALES,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,218,197801,SRI BASAVESHWARA PROVISION STORES,Active,NaN,2004,M Pradeep,opp Vandana talkies kumbar street Shimoga,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,261,202775,SHRI VEERABHADRASHWEARA PROVISION STORE,Active,NaN,1467,Govindaraj,"LAKSHMI TALKIES, VINOBA NAGAR, SHIVAMOGHA",SMRUTHI SALES,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283,284,203398,SHRI VEERABHADRASHWEARA PROVISION STORE,Active,NaN,1467,Govindaraj,"KRM PURAM MAIN ROAD, SHIVAMOGHA",1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,347,228865,VEERHABHADRESHWARA PROVISION STORES,Active,NaN,2004,M Pradeep,Gurupura main Road Shimoga,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,353,232141,SRI BASAVESHWARA PROVISION STORES,Active,NaN,2004,M Pradeep,Ashok Road 1St cross left side Shimoga,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,374,235342,KARNATAKA PROVISION STORES,Active,NaN,2004,M Pradeep,Gandhi Bazzar Shimoga,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,395,240232,S L V SUPER MARKET,Active,NaN,2004,M Pradeep,ilyaz Nagar 100ft road shimoga,1100730887_ASI 1,SMRUTHI SALES,...,FSSAI License,NaN,https://s3-ap-southeast-1.amazonaws.com/outlet...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,425,251209,SRI BASAVESHWARA TREDERS,Active,NaN,2004,M Pradeep,corporation office opp B H ROAD SHIMOGA,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,430,251306,KRISHNA PROVISION STORES,Active,NaN,2004,M Pradeep,corporation office opp B H ROAD SHIMOGA,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,437,252618,SRI VINAYAKA PROVISION STORES,Active,NaN,2004,M Pradeep,N T ROAD SHIMOGA,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,https://outletimages.s3.ap-southeast-1.amazona...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
444,445,259599,SRI LAXSHMI PROVISION STORES,Active,NaN,2004,M Pradeep,Harige bus stop B H Road Shimoga,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455,456,265276,LAXSHMI NARASIMHA PROVISION STORES,Active,NaN,2004,M Pradeep,sheshadri puram shimoga,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,461,267497,SRI LAXSHMI PROVISION STORES,Active,NaN,2004,M Pradeep,Ragigudda main road shimoga,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
474,475,280171,FAZAL STORES,Active,NaN,2004,M Pradeep,Laskar Mohalla circle shimoga,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
476,477,280275,SRI VEERHABHADRESHWARA PROVISION STORES,Active,NaN,2004,M Pradeep,Ajay complex Gandhi Bazzar Shimoga,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
483,484,280699,A R STORES,Active,NaN,2004,M Pradeep,yelakappana Keri Shimoga,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485,486,280733,S L V PROVISION STORES,Active,NaN,2004,M Pradeep,thripalyyana Keri Gandhi Bazzar Shimoga,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
510,511,288240,SHRI SHIVA MEDICALS,Active,NaN,1467,Govindaraj,"VINOBA NAGAR, SHIVAMOGHA",SMRUTHI SALES,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538,539,291592,BABU STORES,Active,NaN,2004,M Pradeep,R M L NAGARA 2ND STEGE NEAR ALFAZAR STORES SHI...,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543,544,292889,SRI ANNAPOORNESHWARI STORES,Active,NaN,2004,M Pradeep,N T ROAD SHIMOGA NEAR SUNDERA ASHRYA SHIMOGA,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553,554,311695,SRI MANJUNATHA PROVISION STORES,Active,NaN,2004,M Pradeep,penshan mohalla police quarters shimoga,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,571,317524,SRINIDHI PROVISION STORES,Active,NaN,2004,M Pradeep,melgatta main Road Shimoga,SMRUTHI SALES,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587,588,324149,SRI MANJUNATHA PROVISION STORES,Active,NaN,2004,M Pradeep,Bharathi calony Shimoga 2nd cross,1100730887_ASI 1,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656,657,367243,SHREE MAILARALINGESWARA KIRANI STORE,Active,NaN,1467,Govindaraj,"BHAVANI NAGARA, GULBARGHA",SMRUTHI SALES,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,660,368015,SRI VEERHABHADRESHWARA PROVISION STORES,Active,NaN,2004,M Pradeep,R M L NAGARA TEMPO STAND DOWN SHIMOGA,SMRUTHI SALES,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
691,692,376302,BHARATH STORES,Active,NaN,2004,M Pradeep,Tilak Nagar main Road Shimoga,SMRUTHI SALES,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
695,696,414693,SRINIDHI PROVISION STORES,Active,NaN,2004,M Pradeep,Gandhi Bazzar main Road Shimoga,SMRUTHI SALES,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697,698,419107,S S PROVISION STORES,Active,NaN,2004,M Pradeep,100 ft Road iliyaz nagara Shimoga,SMRUTHI SALES,SMRUTHI SALES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
cust_df["Erp Id"].unique()

array([nan])

In [52]:
D = cust_df.dtypes.to_dict()
print(D)

{'S No': dtype('int64'), 'Outlet Id': dtype('int64'), 'Outlet Name': dtype('O'), 'Outlet Status': dtype('O'), 'Erp Id': dtype('float64'), 'User ID': dtype('int64'), 'User Name': dtype('O'), 'Outlet Address': dtype('O'), 'Area': dtype('O'), 'Warehouse': dtype('O'), 'ZONE': dtype('O'), 'Subzone': dtype('O'), 'Owner Name': dtype('float64'), 'Owner Mobile': dtype('float64'), 'KeyAccount': dtype('bool'), 'Approved': dtype('O'), 'Created On': dtype('O'), 'FSSAI NO': dtype('float64'), 'TAX No': dtype('float64'), 'GST NO': dtype('O'), 'CST NO': dtype('float64'), 'PAN NO': dtype('O'), 'Outlet Type': dtype('O'), 'Beat Id': dtype('O'), 'Beat Name': dtype('O'), 'Latitude': dtype('float64'), 'Longitude': dtype('float64'), 'Phone Number': dtype('int64'), 'Email': dtype('float64'), 'Balance': dtype('int64'), 'City': dtype('O'), 'State': dtype('O'), 'District': dtype('O'), 'PIN': dtype('int64'), 'Code': dtype('float64'), 'Cash/Credit': dtype('O'), 'Credit limit': dtype('int64'), 'Credit days': dtype('int64'), 'Customer Category': dtype('float64'), 'Source': dtype('O'), 'Outlet Image url': dtype('O'), 'Upload Shop Board Photo': dtype('O'), 'Upload Inside of Store Photo': dtype('O'), 'DL No 1': dtype('O'), 'DL No 2': dtype('O'), 'Email ID': dtype('float64'), 'Capture Latest HUL Bill Image': dtype('O'), 'HUL Outlet Code': dtype('O'), 'Upload Shop Board Photo ': dtype('O'), 'Business Proof': dtype('O'), 'ID Number': dtype('float64'), 'Upload Image of ID Proof': dtype('O'), 'DL Expiry Date': dtype('float64'), 'Territory': dtype('float64'), 'Event Type': dtype('float64'), 'GL Account Code Credit': dtype('float64'), 'Territory When Direct': dtype('float64'), 'Territory When Super': dtype('float64'), 'Registration No': dtype('float64')}

In [53]:
cust_df[cust_df.duplicated(subset = ['Outlet Name','GST NO','Area'],keep=False)].sort_values(['Outlet Name']).count()

S No                             25
Outlet Id                        25
Outlet Name                      25
Outlet Status                    25
Erp Id                            0
User ID                          25
User Name                        25
Outlet Address                   25
Area                             25
Warehouse                        25
ZONE                             25
Subzone                          25
Owner Name                        0
Owner Mobile                      0
KeyAccount                       25
Approved                         25
Created On                       25
FSSAI NO                          0
TAX No                            0
GST NO                            2
CST NO                            0
PAN NO                            0
Outlet Type                      25
Beat Id                          25
Beat Name                        25
Latitude                         25
Longitude                        25
Phone Number                     25
Email                             0
Balance                          25
City                             25
State                            25
District                         25
PIN                              25
Code                              0
Cash/Credit                      25
Credit limit                     25
Credit days                      25
Customer Category                 0
Source                           25
Outlet Image url                  0
Upload Shop Board Photo          21
Upload Inside of Store Photo     23
DL No 1                           2
DL No 2                           2
Email ID                          0
Capture Latest HUL Bill Image     1
HUL Outlet Code                   0
Upload Shop Board Photo           2
Business Proof                    1
ID Number                         0
Upload Image of ID Proof          1
DL Expiry Date                    0
Territory                         0
Event Type                        0
GL Account Code Credit            0
Territory When Direct             0
Territory When Super              0
Registration No                   0
dtype: int64